<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D Navbar Animation</title>
    <link rel="stylesheet" href="/CSS/style.css">
    

  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="menu">
          <h3 class="logo">Avya<span> Agro</span></h3>
          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </div>

      
      
      <div class="main-container" style="height: 100%;">
        <div class="main">
          <header class='header'>
            <div class="overlay">
              <div class="inner">
                <h2 class="title">Home</h2>
                <p id='about_us'>
                  We’re the Agrawal family who has set on a journey to maintain sustainability and share it with others.
We began with a limited number of Cattle and endless determination. 
We planted our first batch of vermicompost from the dung we accumulated from our cattle and it was a huge success.
Our current focus is on vermicompost, vermi wash, and cow urine. 
Avya Agro Farm has become a place to call home and we put our best effort to connect with people.
                </p>
                <a href="#store"><button class="btn" >Visit Our Store</button></a>
              </div>
            </div>
          </header>
        </div>
        <div class="shadow one"></div>
        <div class="shadow two"></div>
      </div>


      
      <div class="main-container" style="height: 100%;">
        <div class="main">
          <header style="min-height: 100vh;
                          width: 100%;
                          background-color:#fffdf6;
                          position: relative;">
            <div class="overlay">
              <div class="inner">
                <h2 class="title">Our Store</h2>
                
                <div id='store'>
                </div>
              
              </div>
            </div>
          </header>
        </div>
        <div class="shadow one"></div>
        <div class="shadow two"></div>
      </div>

            

      <div class="links">
        <ul>
          <li>
            <a href="#" style="--i: 0.05s;">Home</a>
          </li>
          <li>
            <a href="/store" style="--i: 0.1s;">Our Store</a>
          </li>
          <li>
            <a href="#" style="--i: 0.15s;">Portfolio</a>
          </li>
          <li>
            <a href="#" style="--i: 0.2s;">Testimonials</a>
          </li>
          <li>
            <a href="#" style="--i: 0.25s;">About</a>
          </li>
          <li>
            <a href="#" style="--i: 0.3s;">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    
    <script src="/JS/navbar.js"></script>
  
  
  </body>
</html>
